body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.controls-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 0 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5; /* Alinea el texto verticalmente dentro del campo */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    line-height: 1.5; /* Centra verticalmente el texto de los labels */
}

#map {
    width: 80%;
    height: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 75%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
}

td {
    font-size: 16px;
    color: #333;
}
